<div class="buttons" [@button]>
<button mat-raised-button color="primary" *ngIf="switch" class="snakeButton" (click)="playSnake()">Play Snake!</button>
<a mat-raised-button color="accent" *ngIf="switch" href="../../assets/KilbyJacobResume.pdf" target="_self" class="snakeButton" download="KilbyJacobResume.pdf">Download my resume!</a>
<button mat-raised-button color="warn" *ngIf="switch" class="snakeButton" (click)="showBlackHole()">Do not press!</button>
</div>

<div id="board" [style.background-color]="setStyling()"  [@play] (@play.done)="endSnake($event)" *ngIf="gamePlaying()">
  <div class="row" *ngFor="let column of board; let y=index">
    <div class="column"
      *ngFor="let row of column; let x=index; trackBy:x">
        <app-my-fruit *ngIf="setFruit(y,x)"></app-my-fruit>
        <app-my-snake *ngIf="setSnake(y,x)"></app-my-snake>
        <app-my-snake-head *ngIf="setHead(y,x)"></app-my-snake-head>
      </div>
  </div>
</div>

<div id="board" *ngIf="mobile" style="color:white">I'm sorry but snake does not currently work on mobile, please visit this site on a computer to play snake!</div>

<div class = "container" *ngIf="blackhole">
  <img src="https://vignette.wikia.nocookie.net/steamtradingcards/images/7/73/Really_Big_Sky_Background_Black_Hole.jpg/revision/latest?cb=20131005051936" class="blackhole">
  <div class="centered">{{timer}} KONAMI</div>
</div>