:host {
    margin: auto;
    width: 540px;
    display: block;
    
}

    
.row {
    height: 28px;
}
.column {
    border: 1px solid #37474F;
    width: 28px; 
    height: 28px; 
    display: inline-block; 
    vertical-align: middle;
    text-align: center;
}

.snakeButton {
    left: 8%;
    margin: 10px;
    position:relative;
    
}

.buttons {
    margin: auto;
    display: block;
}

.blackhole {
    position: absolute;
    width: 1920px;
    height: 1202px;
    left:50%; 
    top:50%;
    margin-left: -960px;
    margin-top: -601px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: gray;
    opacity: 70%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}